blockquote {
    border: 1px dashed #47556A;
    padding: 0.5em;
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
    color: #47556A;
    font-family: 'Lato', sans-serif;
}

a {
    color: #47556A;
}

.ah-small {
    font-size: 75%;
}

.ah-siteHeader, .ah-siteContent {
    max-width: 50em;
    margin: auto;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.ah-siteBody {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F8;
    width: 100%;
    border-top: 2px solid #47556A;
    padding-top: 0;
    margin-top: 0;
}

.ah-siteTitle {
    text-transform: uppercase;
}

.ah-navMenuContainer {
    border-bottom: 2px solid #ED6462;
}

.ah-navMenu {
    list-style:none;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    padding: 0;
}

.ah-navMenu li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

.ah-siteTitle a, .ah-navMenu li a {
    text-decoration: none;
}

.ah-siteTitle a:hover, .ah-navMenu li a:hover {
    text-decoration: underline;
}

.ah-navMenu-site li:not(:first-child):before {
    content: " / "
}

.ah-navMenu-elsewhere li:not(:first-child):before {
    content: " \\ "
}

.ah-postDate {
    font-style: italic;
    display: block;
    margin-bottom: 1em;
}

.ah-postDate::before {
    content: "\029D6  "
}

.ah-siteFooter {
    background-color: #47556A;
    color: #F9F9F8;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.ah-siteFooter a {
    color: #F9F9F8;
}

.ah-paginationContainer {
    margin: 1em 0 0 0;
    text-align: center;
}

/* UIO Customization */

.fl-prefsEditor-separatedPanel .fl-panelBar {
    background-color: #47556A;
    color: #FFF;
    border-bottom: 1px solid #47556A;
}

.fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
    background-color: #47556A;
    color: #FFF;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-right: 1em;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    background-color: #47556A;
    color: #FFF;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
    background-color: #47556A;
    color: #FFF;
}
