{{ partial "header.html" . }}
	<main>
		<article>
			<h2>{{ .Title }}</h2>

			{{ if not (eq .Type "page") }}

			<div class="ah-postDate-container">
				<span class="ah-postDate-icon ion-calendar"></span><time class="ah-postDate">{{ .Date.Format "January 2, 2006" }}</time>
			</div>

			{{- end }}

			<div>
				{{ .Content }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>

{{ partial "footer.html" . }}
