{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>


			{{ if not (eq .Type "page") }} <time class="ah-postDate">{{ .Date.Format "January 1, 2006" }}</time> {{- end }}


			<div>
				{{ .Content }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>
	</main>

{{ partial "footer.html" . }}
