	<footer>
		<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
	</footer>
	<script>
		$(document).ready(function () {
		    var uio = fluid.uiOptions.prefsEditor(".flc-prefsEditor-separatedPanel", {
		        terms: {
		            "templatePrefix": "{{ .Site.BaseURL }}js/lib/infusion/src/framework/preferences/html",
		            "messagePrefix": "{{ .Site.BaseURL }}js/lib/infusion/src/framework/preferences/messages"
		        },
		        "tocTemplate": "{{ .Site.BaseURL }}js/lib/infusion/src/components/tableOfContents/html/TableOfContents.html",
		        "ignoreForToC": {
		            "overviewPanel": ".flc-overviewPanel"
		        },
				components: {
					prefsEditorLoader:{
						options: {
							components: {
								messageLoader: {
									options: {
										locale: "fr"
									}
								}
							}
						}
					}
				}
		    });			
		});
	</script>
	</div>
</body>
</html>
